.event-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.event-form {
    padding: 25px;
    background-color: #ffffff;
    margin: 15px;
    height: auto;
    border-radius: 5px;

    .event-field {
        display: flex;
        justify-content: space-between;
        height: auto;
        margin-bottom: 20px;

        .event-field-guide {
            width: 25%;

            .event-field-guide-text {
                color: #bebebe;
            }
        }

        .switch-input-container {
            width: 75%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 110px;
            padding-left: 40px;
            padding-top: 30px;
        }

        .event-field-inputs {
          width: 75%;
            display: flex;
            padding-right: 7.5em;
            padding-left: 3.6em;
            padding-top: 1em;
            flex-direction: column;
            gap: 10px;
        }

        .event-field-labeled-inputs {
            width: 75%;
            display: flex;
            padding-right: 4em;
            padding-left: 0em;
            padding-top: 1em;
            flex-direction: column;
            gap: 10px;
        }

        .event-field-drop-down-inputs {
            width: 75%;
            display: flex;
            padding-top: 1em;
            flex-direction: column;
            padding-right: 5em;
            padding-left: 1em;
        }

        .event-field-textAreas {
            width: 75%;
            display: flex;
            flex-direction: column;
            padding-left: 60px;
            padding-right: 130px;
            gap: 10px;
        }

        .event-field-date-input {
            width: 75%;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 140px;
        }

        .event-field-time-input {
            width: 75%;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            padding-left: 40px;
            padding-right: 110px;
        }

        .event-field-images-upload {
            width: 75%;
            justify-content: center;
            align-items: center;
            padding-top: 0px;
            padding-left: 40px;
            padding-right: 70px;
        }


    }
}