<h2 class="event-title">Events</h2>
<div class="event-form">
  <header class="event-form-header">
    <h2>Add New Event</h2>
    <hr />
  </header>
  <form action="" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="event-field">
      <div class="event-field-guide">
        <h2>Event Name</h2>
        <p class="event-field-guide-text">add Event title that customers would likely to search</p>
      </div>

      <div class="event-field-inputs">
        <app-text-input
          [config]="{ placeholder: 'Event name(english)', control: eventForm.controls.eventNameEn }"></app-text-input>

        <app-text-input
          [config]="{ placeholder: 'Event name(Arabic)', control: eventForm.controls.eventNameAr }"></app-text-input>
      </div>
    </div>
    <div class="event-field">
      <div class="event-field-guide">
        <h2>Event Description</h2>
        <p class="event-field-guide-text">
          add Event Description that customers would likely to search
        </p>
      </div>
      <div class="event-field-textAreas">
        <app-text-area-input [config]="{
            placeholder: 'Event Description(Arabic)',
            control: eventForm.controls.eventDescriptionAr
          }"></app-text-area-input>
        <app-text-area-input [config]="{
            placeholder: 'Event Description(english)',
            control: eventForm.controls.eventDescriptionEn
          }"></app-text-area-input>
      </div>
    </div>

    <div class="switch-input-container">
      <app-switch-input [config]="{ control: eventForm.controls.active }"></app-switch-input>
    </div>

    <div class="event-field">
      <div class="event-field-guide">
        <h2>Event Date</h2>
        <p class="event-field-guide-text">Select the date of the event</p>
      </div>
      <div class="event-field-date-input">
        <app-date-input [config]="{ control: eventForm.controls.eventDate }"></app-date-input>
      </div>
    </div>

    <div class="event-field">
      <div class="event-field-guide">
        <h2>Event Time</h2>
        <p class="event-field-guide-text">Select the time of the event</p>
      </div>
      <div class="event-field-time-input">
        <app-time-input [config]="{ control: eventForm.controls.eventTime }"></app-time-input>
      </div>
    </div>

    <div class="event-field">
      <div class="event-field-guide">
        <h2>Media Content</h2>
        <p class="event-field-guide-text">Add media content just images</p>
      </div>
      <div class="event-field-images-upload">
        <app-images-upload (imagesSelected)="onImagesSelected($event)"></app-images-upload>
      </div>
    </div>

    <div class="event-field">
      <div class="event-field-guide">
        <h2>Price</h2>
        <p class="event-field-guide-text">Add the price of the event</p>
      </div>
      <div class="event-field-labeled-inputs">
        <app-labeled-text-input [config]="{
            label: 'JOD',
            placeholder: 'Event Price',
            control: eventForm.controls.eventprice
          }"></app-labeled-text-input>
      </div>
    </div>

    <div class="event-field">
      <div class="event-field-guide">
        <h2>SubCategory</h2>
        <p class="event-field-guide-text">Add the subcategory of the event</p>
      </div>
      <div class="event-field-drop-down-inputs">
        <app-drop-down [config]="{
            options: ['Location 1', 'Location 2', 'Location 3'],
            control: eventForm.controls.eventSubCategory,
            placeholder: 'SubCategory'
          }"></app-drop-down>
      </div>
    </div>

    <div class="event-field">
      <div class="event-field-guide">
        <h2>Available Quantity</h2>
        <p class="event-field-guide-text">Add the available quantity of the event</p>
      </div>
      <div class="event-field-drop-down-inputs">
        <app-drop-down [config]="{
            options: ['1', '2', '3'],
            control: eventForm.controls.eventAvailableQuantity,
            placeholder: 'Available Quantity'
          }"></app-drop-down>
      </div>
    </div>

    <div>
      <div class="sections-container">

        <div *ngFor="let section of eventForm.controls.eventSections; let i = index">
          <div class="section">
            <h1>Extra sections (section {{ i + 1 }})</h1>
            <hr>

            <div class="section-title">
              <div class="section-title-label">
                <h1>Section title</h1>
                <p>title of the section</p>

              </div>
              <div class="section-title-drop-down">
                <select name="sectionTitle" class="drop-down">
                  <option value="" selected>Select Section Title</option>
                  <option value="speakers">Speakers</option>
                  <option value="schedule">Schedule</option>
                  <option value="location">Location</option>
                  <option value="sponsors">Sponsors</option>
                  <option value="tickets">Tickets</option>
                </select>
              </div>

            </div>
            <div class="items-container"
              *ngFor="let item of eventForm.controls.eventSections.controls[i].controls; let j = index">
              <div class="item">
                <div class="section-title">
                  <div class="section-title-label">
                    <h1>Title fill items</h1>
                    <p>item{{ j + 1 }}</p>

                  </div>


                </div>
                <div class="item-input-container">
                  <input type="text" placeholder="Item Name in Arabic" class="item-input">
                  <input type="text" placeholder="Item Name in English" class="item-input">
                </div>
                <div class="delete-item-button" (click)="removeItem(i, j)">X</div>
              </div>
            </div>
            <div class="add-item-button-container">
              <button type="button" (click)="addItem(i)" class="add-item-button">+Add another Item </button>
            </div>
          </div>


        </div>
        <div class="add-section-button-container">
          <button type="button" (click)="addSection()" class="add-section-button">+ Add another Section</button>

        </div>
      </div>


    </div>

    <button type="submit">Submit</button>
  </form>
</div>