@use '../../../../public/colors.scss' as colors;
@use '../../../../public/font-sizes.scss' as fontSizes;

.event-name-input {
    width: 100%;
    height: fontSizes.$input-height;
    padding-block: 0;
    padding-inline: 12px;
    border: none;
    border-radius: fontSizes.$border-radius-standard;
    font-size: fontSizes.$font-size-small;
    margin-block: 15px;
    background-color: colors.$input-bg-color;
    color: colors.$input-text-color;
    outline: none;
        box-sizing: border-box;

    
    &::placeholder {
        color: colors.$input-text-color;
        font-size: fontSizes.$font-size-small;
    }
}