@import '../../../../public/colors.scss';
@import '../../../../public/font-sizes.scss';

.event-name-input {
    width: 100%;
    height: $input-height;
    padding: 0 12px;
    border: none;
    border-radius: $border-radius-standard;
    font-size: $font-size-small;
    margin: 15px 0;
    background-color: $input-bg-color;
    color: $input-text-color;
    outline: none;
        box-sizing: border-box;

    
    &::placeholder {
        color: $input-text-color;
        font-size: $font-size-small;
    }
} 