@import '../../../../public/font-sizes.scss';

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    margin: 0%;
    padding-block: 0.3em;
    height: 4em;
    font-size: $font-size-medium;


    .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        .logo-text {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .header-user-profile {
        border: 1px solid #918e8e;
        border-radius: 1em;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin-right: 2em;
        padding-inline: 1em;
        cursor: pointer;

    }

}