@import '../../../../public/font-sizes.scss';

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding-block: 0.3em;
    height: 4em;//
    font-size: $font-size-medium;


    .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding-left: 1em;

        .logo-image {
            width: 40px;
        }

        .logo-text {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .header-user-profile {
        border: 1px solid #918e8e;
        border-radius: 1em;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin-inline-end: 2em;
        padding-inline: 1em;
        cursor: pointer;

        .user-profile-image {
            width: 40px;
        }
    }

    @media (max-width: 768px) {
        padding-inline: 0.5em;
        font-size: $font-size-small;
        height: 3.5em;

        .header-logo {
            gap: 0.5em;
            padding-left: 0.5em;

            .logo-image {
                width: 40px;
            }

            .logo-text {
                font-size: 1em;
            }
        }

        .header-user-profile {
            margin-right: 1em;
            padding-inline: 0.6em;
            gap: 0.5em;
            height: 3em;

            .user-profile-image {
                width: 30px;
            }
        }
    }

}