@import '../../../../public/cssVars.scss';
.event-text-area-input {
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: $input-bg-color;
    resize:none;

    &::placeholder {
        color: #999;
        font-style: normal;
    }

  

}