@use '../../../../public/colors.scss' as colors;
@use '../../../../public/font-sizes.scss' as fontSizes;

.event-text-area-input {
    width: 100%;
    min-height: 120px;
    padding-block: 12px;
    padding-inline: 16px;
    border: none;
    border-radius: fontSizes.$border-radius-standard;
    font-family: inherit;
    font-size: fontSizes.$font-size-small;
    line-height: 1.5;
    color: colors.$input-text-color;
    background-color: colors.$input-bg-color;
    resize: none;
    outline: none;
    box-sizing: border-box;


    &::placeholder {
        color: colors.$input-text-color;
        font-size: fontSizes.$font-size-small;
        font-style: normal;
    }



}