.base-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    .side-menu {
        width: 250px;
        height: 100%;
    }
    
    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-x: auto;
    }
}

.base-layout.closed {
    .side-menu {
        width: 100px; 
    }

    
    .main-content {
        width: calc(100% - 80px);
    }
}