@import '../../../../public/colors.scss';
@import '../../../../public/font-sizes.scss';

.labeled-text-input-container {
    position: relative;
    display: block;
    width: 100%;

    .labeled-text-input {
        width: 100%;
        height: $input-height;
        padding: 0 50px 0 12px; // Added right padding to accommodate the label
        border: none;
        border-radius: $border-radius-standard;
        font-size: $font-size-small;
        background-color: $input-bg-color;
        color: $input-text-color;
        outline: none;
        box-sizing: border-box;
        
        &::placeholder {
            color: $input-text-color;
            font-size: $font-size-small;
        }
    }

    .input-label {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: $input-text-color;
        font-size: $font-size-small;
        font-weight: 500;
    }
}