@use '../../../../public/colors.scss' as colors;
@use '../../../../public/font-sizes.scss' as fontSizes;

.labeled-text-input-container {
    position: relative;
    display: block;
    width: 100%;

    .labeled-text-input {
        width: 100%;
        height: fontSizes.$input-height;
        padding-block: 0;
        padding-inline: 50px 12px; // Added right padding to accommodate the label
        border: none;
        border-radius: fontSizes.$border-radius-standard;
        font-size: fontSizes.$font-size-small;
        background-color: colors.$input-bg-color;
        color: colors.$input-text-color;
        outline: none;
        box-sizing: border-box;
        
        &::placeholder {
            color: colors.$input-text-color;
            font-size: fontSizes.$font-size-small;
        }
    }

    .input-label {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: colors.$input-text-color;
        font-size: fontSizes.$font-size-small;
        font-weight: 500;
    }
}