<aside class="side-menu " [ngClass]="{'closed': !layout.sideMenuOpen()}">
    <header class="side-menu-header">
        <div class="side-menu-logo">
            <img src="/side-menu-icons/full-eduminty-logo.svg" alt="App Logo" class="logo-image" />
        </div>
        <div class="side-menu-toggle">
            <button  class="toggle-button" (click)="toggleMenu()">
                <img src="/side-menu-icons/side-menu-toggle.svg" alt="Toggle Menu" />
            </button> 
        </div>

    </header>

    <nav class="side-menu-top-buttons">
        <ul class="side-menu-buttons">
            @for (item of menuItemsList; track item.text) {
                <li
                    class="side-menu-button"
                        [routerLink]="item.routerLink || null"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: item.exact || false }"
                        #activeState="routerLinkActive"
                        (mouseenter)="item.isHovered = true"
                        (mouseleave)="item.isHovered = false"
                >
                  
                        <img
                            class="button-logo"
                            [src]="item.isHovered ? item.hoverIcon : (activeState.isActive ? item.isActiveIcon : item.inactiveIcon)"
                            alt=""
                        />
                        <span class="button-text">{{ item.text }}</span>
                </li>
            }
        </ul>
    </nav>

    <nav class="side-menu-bottom-buttons">

        <hr class="divider">

        <ul class="side-menu-buttons">
            <li class="side-menu-button"><img class="button-logo" src="/side-menu-icons/mintyhub.svg"
                        alt=""><span class="button-text">MintyHub</span></li>
            <li class="side-menu-button" ><img class="button-logo" src="/side-menu-icons/ar-translate.svg"
                        alt=""><span class="button-text">عربي</span></li>
            <li class="side-menu-button"><img class="button-logo" src="/side-menu-icons/logout.svg" alt=""><span
                        class="button-text">Logout</span></li>

        </ul>
    </nav>
</aside>