<aside class="side-menu">
    <header class="side-menu-header">
        <div class="side-menu-logo">
            <img src="/side-menu-icons/full-eduminty-logo.svg" alt="App Logo" class="logo-image" width="100px" />
        </div>
        <div class="side-menu-toggle">
            <button type="button" class="toggle-button" (click)="toggleMenu()">

                <img src="/side-menu-icons/side-menu-toggle.svg" alt="Toggle Menu" />
            </button>
        </div>

    </header>
    <nav>
        <ul class="side-menu-buttons">
            <li><button class="side-menu-button"><img src="/side-menu-icons/non-active-graduate-attributes.svg" alt=""
                        width="19px" height="19px">Grad Attributes </button></li>
            <li><button class="side-menu-button"><img src="/side-menu-icons/non-active-national-qualifications-framework-descriptors.svg" alt=""
                        width="19px" height="19px">NQF Descriptors </button></li>
            <li><button class="side-menu-button"><img src="/side-menu-icons/non-active-evaluation-criterion.svg" alt=""
                        width="19px" height="19px">Evaluation criterion </button></li>
            <li><button class="side-menu-button"><img src="/side-menu-icons/non-active-program.svg" alt=""
                        width="19px" height="19px">Programs </button></li>
            <li><button class="side-menu-button"><img src="/side-menu-icons/non-active-course.svg" alt=""
                        width="19px" height="19px">Courses </button></li>
            <li><button class="side-menu-button"><img src="/side-menu-icons/non-active-graduate-attributes.svg" alt=""
                        width="19px" height="19px">C.Sections</button></li>

        </ul>
    </nav>


    <hr class="divider">

    <nav >
        <ul class="side-menu-buttons">
            <li><button class="side-menu-button"><img src="/side-menu-icons/mintyhub.svg" alt=""
                        width="19px" height="19px">MintyHub </button></li>
            <li><button class="side-menu-button"><img src="/side-menu-icons/ar-translate.svg" alt=""
                        width="19px" height="19px">عربي </button></li>
            <li><button class="side-menu-button"><img src="/side-menu-icons/logout.svg" alt=""
                        width="19px" height="19px">Logout </button></li>

        </ul>
    </nav>
</aside>