@import '../../../../public/colors.scss';
@import '../../../../public/font-sizes.scss';


.side-menu {
  width: 200px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding-inline: 0px;
  display: flex;
  flex-direction: column;
  font-size:$font-size-small ;


  .side-menu-header {
    padding: 0;

    .side-menu-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block-start: 1em;
    }


    .side-menu-toggle {
      display: flex;
      justify-content: end;
      margin-top: 20px;
      padding-inline-start: 1em;
      width: 100%;

      .toggle-button {
        background-color: white;
        border-radius: 50%;
        border: blue solid 2px;
        color: blue;
        padding-inline: 0.2em;
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        cursor: pointer;
      }
    }
  }

  .side-menu-buttons {
    list-style: none;
    padding-inline-start: 0.3em;

    .side-menu-button {
      width: 100%;
      height: 3em;
      padding-inline-end: 0.9em;
      background-color: white;
      border: none;
      text-align: center;
      font-size: 14px;
      color: $input-text-color;
      cursor: pointer;
      border-top-left-radius: 0.4em;
      border-bottom-left-radius: 0.4em;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5em;

      &:hover {
        background-color: $blue-theme-color;
        color: white;
      }

      &.active {
        background-color: $blue-theme-color;
        color: white;
      }

      .button-logo {
        width: 19px;
        height: 19px;
      }
    }
  }

  .side-menu-bottom-buttons {
    .divider {
      margin: 0.8em;
    }

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;

  }

}

.side-menu.closed {
  width: 100px;

  .side-menu-logo {
    padding-left: 20px;
    padding-right: 20px;

    logo-image {
      width: 1px;
      height: 1px;

    }

  }



  .side-menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 0;

    .button-text {
      display: none;
    }

    .button-logo {
      margin-top: 0.9em;
      width: 240px;
      height: 240px;

    }


  }

  .divider {
    margin: 0.8em 0.2em; // Adjust divider margins
  }
}