@use '../../../../public/colors.scss' as colors;
@use '../../../../public/font-sizes.scss' as fontSizes;

.side-menu {
  width: 200px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: fontSizes.$font-size-small;
  text-wrap: wrap;

  .side-menu-header {
    .side-menu-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block-start: 0em;

      .logo-image {
        width: 100px;
      }
    }

    .side-menu-toggle {
      display: flex;
      justify-content: end;
      margin-block-start: 20px;
      padding-inline-start: 1em;
      width: 100%;

      .toggle-button {
        background-color: white;
        border-radius: 50%;
        border: blue solid 2px;
        color: blue;
        padding-inline: 0.2em;
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        cursor: pointer;
      }
    }
  }

  .side-menu-buttons {
    list-style: none;
    padding-inline-start: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    .side-menu-button {
      display: flex;
      justify-content: start;
      align-items: center;
      width:85%;
      height: 3em;
      padding-inline-start: 0.5em;
      background-color: white;
      border: none;
      text-align: center;
      font-size: 14px;
      color: colors.$input-text-color;
      cursor: pointer;
      border-top-left-radius: 0.4em;
      border-bottom-left-radius: 0.4em;
      gap: 0.5em;

      &:hover {
        background-color: colors.$blue-theme-color;
        color: white;
      }

      &.active {
        background-color: colors.$blue-theme-color;
        color: white;
      }

      .button-logo {
        width: 19px;
        height: 19px;
      }
    }
  }

  .side-menu-bottom-buttons {
    .divider {
      margin: 0.8em;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
  }
}

.side-menu.closed {
  width: 100px;

  .side-menu-logo {
    padding-left: 20px;
    padding-right: 20px;
  }

  .side-menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;

    .button-text {
      display: none;
    }

    .button-logo {
      margin-top: 0.9em;
      width: 240px;
      height: 240px;
    }
  }

  .divider {
    margin: 0.8em 0.2em; 
  }
}

@media (max-width: 768px) {
  .side-menu {
    width: 110px;

    .side-menu-header {
      .side-menu-logo {
        padding-block-start: 0em;

        .logo-image {
          width: 40px;
        }
      }
    }

    .side-menu-buttons {
      padding-inline-start: 0.1em;
      gap: 0.1em;
    }

    .side-menu-button {
      height: 2.5em;
      padding-inline-end: 0em;
      font-size: 12px;
    }

    .button-logo {
      width: 16px;
      height: 16px;
    }
  }

  .side-menu {
    &.closed {
      width: 50px;
    }
  }
}