@import '../../../../public/cssVars.scss';

.time-input {
    background-color: $input-bg-color;
    border: none;
    border-radius: $border-radius-standard;
    font-weight: 500;
    color: $input-text-color;
    width: 100%;
    height: $input-height;
    font-size: $font-size-small;
    padding: 0 12px;
    text-align: left;
    position: relative;
    outline: none;
    cursor: pointer;

    &::-webkit-time-picker-indicator {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

}